---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.svelte";
---

<Layout title="Mihara's Portfolio.">
	<main>
		<!-- <Title />
		<Beginning />
		<Background /> -->
		<!-- <AboutMe /> -->
		<!-- <Skills />
		<Zenn />
		<Profile />
		<Closing />
		<Footer /> -->
	</main>
</Layout>

<style>
	main {
		color: #ffffff;
	}

	@keyframes -global-from-left {
		0% {
			transform: translateY(-20px);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}
</style>
